Dataset uses tweets from 2012-May 2018. The 2018 midterms occurred in November, so data from that period is not reflected.

In [81]:

#https://github.com/fivethirtyeight/russian-troll-tweets
path_to_russian_tweet_parent_folder = "/Users/ayaam/Downloads/russian-troll-tweets-master"

In [82]:
path_to_election_results_parent_folder = "/Users/ayaam/Downloads/election-results-main"

In [83]:
def get_directory(number):
    return path_to_russian_tweet_parent_folder + "/IRAhandle_tweets_" + str(number) + ".csv"

In [89]:
LOWER_BOUND_OF_INTEREST = 2010
UPPER_BOUND_OF_INTEREST = 2018

In [90]:
!pip3 install pandas

python(52352) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory


[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
!pip3 install numpy

In [ ]:
!pip3 install matplotlib

In [88]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
def get_df_list_from_directory(path_to_directory):
    entries = os.listdir(path_to_directory)
    df_list = []
    for entry in entries:
        if entry.endswith(".csv"):
            df_list.append(pd.read_csv(path_to_directory + "/" + entry))
    return df_list

In [50]:
election_df = get_df_list_from_directory(path_to_election_results_parent_folder)

election_df[0].head(5)

,id,race_id,state_abbrev,state,office_id,office_name,office_seat_name,cycle,stage,special,...,candidate_id,candidate_name,ballot_party,ranked_choice_round,votes,percent,unopposed,winner,alt_result_text,source
0,31579,8990,NaN,NaN,587,U.S. House,Generic,2022,general,False,...,NaN,NaN,NaN,NaN,417123,0.387299,NaN,NaN,Blank/Void,NaN
1,31577,8990,NaN,NaN,587,U.S. House,Generic,2022,general,False,...,NaN,NaN,NaN,NaN,164806,0.153023,NaN,NaN,Write-in/Scattering,NaN
2,31574,8990,NaN,NaN,587,U.S. House,Generic,2022,general,False,...,16625.0,Generic Candidate,DEM,NaN,51563062,47.876367,NaN,False,NaN,NaN
3,31575,8990,NaN,NaN,587,U.S. House,Generic,2022,general,False,...,16626.0,Generic Candidate,REP,NaN,54403304,50.513535,NaN,True,NaN,NaN
4,31576,8990,NaN,NaN,587,U.S. House,Generic,2022,general,False,...,NaN,NaN,NaN,NaN,1569276,1.457075,NaN,NaN,Other,NaN

In [51]:
russian_df = get_df_list_from_directory(path_to_russian_tweet_parent_folder)

russian_df[0].head(5)

/var/folders/nx/pv3_j9vn6qxdw0yzd86gkqnw0000gn/T/ipykernel_48406/704889364.py:6: DtypeWarning: Columns (0,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(path_to_directory + "/" + entry))
/var/folders/nx/pv3_j9vn6qxdw0yzd86gkqnw0000gn/T/ipykernel_48406/704889364.py:6: DtypeWarning: Columns (10,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(path_to_directory + "/" + entry))
/var/folders/nx/pv3_j9vn6qxdw0yzd86gkqnw0000gn/T/ipykernel_48406/704889364.py:6: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(path_to_directory + "/" + entry))

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,2495567768,DAILYSANFRAN,Police: Airline pilot found passed out in cock...,United States,English,1/2/2017 14:39,1/2/2017 14:39,4577,16782,34960,...,local,0,NewsFeed,0,2495567768,815930489311789056,http://twitter.com/2495567768/statuses/8159304...,https://twitter.com/DailySanFran/status/815930...,http://kron4.com/2017/01/02/police-airline-pil...,NaN
1,2495567768,DAILYSANFRAN,Dashcam video shows man launching himself onto...,United States,English,1/2/2017 15:39,1/2/2017 15:39,4577,16782,34961,...,local,0,NewsFeed,0,2495567768,815945595546431488,http://twitter.com/2495567768/statuses/8159455...,https://twitter.com/DailySanFran/status/815945...,http://kron4.com/2017/01/02/dashcam-video-show...,NaN
2,2495567768,DAILYSANFRAN,Man Arrested For Setting Fire To South SF Medi...,United States,English,1/2/2017 16:19,1/2/2017 16:19,4577,16782,34962,...,local,0,NewsFeed,0,2495567768,815955659963432960,http://twitter.com/2495567768/statuses/8159556...,https://twitter.com/DailySanFran/status/815955...,http://sanfrancisco.cbslocal.com/2017/01/02/ma...,NaN
3,2495567768,DAILYSANFRAN,Practical tips to achieving your New Year's re...,United States,English,1/2/2017 16:29,1/2/2017 16:29,4577,16782,34963,...,local,0,NewsFeed,0,2495567768,815958175593730049,http://twitter.com/2495567768/statuses/8159581...,https://twitter.com/DailySanFran/status/815958...,http://abc7news.com/society/practical-tips-to-...,NaN
4,2495567768,DAILYSANFRAN,Couple disappears during trip to Big Sur https...,United States,English,1/2/2017 16:39,1/2/2017 16:39,4577,16781,34964,...,local,0,NewsFeed,0,2495567768,815960697800626176,http://twitter.com/2495567768/statuses/8159606...,https://twitter.com/DailySanFran/status/815960...,http://kron4.com/2017/01/02/couple-disappears-...,NaN

In [72]:
election_df = [
    df[(df["cycle"] >= LOWER_BOUND_OF_INTEREST) & (df["cycle"] <= UPPER_BOUND_OF_INTEREST)]
    for df in election_df
]


election_df[2].head(5)

,id,race_id,state_abbrev,state,office_id,office_name,office_seat_name,cycle,stage,special,...,candidate_id,candidate_name,ballot_party,ranked_choice_round,votes,percent,unopposed,winner,alt_result_text,source
140,17818,6432,NaN,NaN,1,U.S. President,NaN,2016,primary,False,...,9222.0,Timothy Cook,REP,NaN,NaN,NaN,NaN,False,NaN,https://www.fec.gov/introduction-campaign-fina...
141,17827,6432,NaN,NaN,1,U.S. President,NaN,2016,primary,False,...,9247.0,Brooks Andrews Cullison,REP,NaN,NaN,NaN,NaN,False,NaN,https://www.fec.gov/introduction-campaign-fina...
142,17817,6432,NaN,NaN,1,U.S. President,NaN,2016,primary,False,...,9372.0,Lindsey Graham,REP,NaN,NaN,NaN,NaN,False,NaN,https://www.fec.gov/introduction-campaign-fina...
143,17799,6432,NaN,NaN,1,U.S. President,NaN,2016,primary,False,...,9736.0,Paul Ryan,REP,NaN,NaN,NaN,NaN,False,NaN,https://www.fec.gov/introduction-campaign-fina...
144,17808,6432,NaN,NaN,1,U.S. President,NaN,2016,primary,False,...,9647.0,James Orlando Ogle,REP,NaN,NaN,NaN,NaN,False,NaN,https://www.fec.gov/introduction-campaign-fina...

In [69]:
for df in election_df:
    print(df.shape)

(20, 22)
(2988, 16)
(2468, 22)
(884, 22)
(7459, 22)
(1075, 22)